(AD Review) Redundant behavior (5.4)

CURRENT

> 
> 5.4.  Encoding and signature
> 
>    *  The actual Update Notification File contents MUST be a JSON Web
>       Signature [RFC7515] and MUST use JWS Compact Serialization. 
> 
>    *  The JWS Payload MUST be the JavaScript Object Notation (JSON)
>       [RFC8259] serialization of the structure described in the previous
>       section. 
> 

The two MUST are redundant with:

>    The Update Notification File MUST be in the JSON Web Signature
>    [RFC7515] format, where the payload is in the JavaScript Object
>    Notation (JSON) format [RFC8259].  The Snapshot File and Delta Files
>    MUST be in the JSON Text Sequences [RFC7464] format, so that each
>    object in large files can be parsed independently.

Please use the normative behavior in one place and "normal" English word elsewhere.